._chekouProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

._checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
    margin-right: 40px;
}

.checkoutProduct__info{
    padding-left: 20px;

}

._checkoutProduct__btn{
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}
._checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}

._checkourProduct__price{

}
._checkoutPrioduct__rating{
    display: flex;
}

@media only screen and (max-width: 768px){
  ._chekouProduct{
      width: 95%;
      margin: 5px;
      padding: 10px;
      background-color: white;
    }

    ._checkoutProduct__image{
        width: 100px;
    }

    ._checkoutProduct__title{
        font-size: 15px;
        font-weight: 500;
    }

    ._checkoutProduct__btn{
        width: 50%;
        padding: 8px;
        font-size: 15px;
    }
}